.a-g-login-container{
    flex-basis: 50%;
}
.a-g-login-wrapper{
    height: 28em;
    margin: calc((100vh - 30em) / 2) 0;
}
.a-g-bg-banner{
    background-image: url('./../assets/login-right-panel-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 50%;
    height: 100vh;
}
.a-g-login-form-field:after{
    content: '';
    border-right: 2px solid #DEDEDE;
    height: 6em;
    z-index: -1;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 45.5%;
    right: 0;
}
.a-g-layout-secondary{
    min-height: calc(100vh - 3.125em);
}
.a-g-layout-primary{
    min-height: 100vh;
}

.a-g-notify-open{
    display: block!important;
}

.a-g-notify-modal{
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%,-50%);
}