// /*Neutral greys*/
$color-black: #000000;
// $color-dark-grey:#2D2D2D;
 $color-medium-grey: #464646;
 $color-grey: #7D7D7D;
 $color-light-grey: #DEDEDE;
 $color-secondary-field-bg: #F2F2F2;
 $color-secondary-field-border: #DEDEDE;
// $color-lighter-grey: #F2F2F2;
 $color-white: #ffffff;
// /*Brand colors*/
 $color-primary: #D04A02;
// $color-rose: #D93954;
// $color-red: #E0301E;
// $color-yellow: #FFB600;
 $color-tangerine: #EB8C00;
 $color-tangerine-light: #F6DBCB;
// /*Status colors*/
// $color-status-red: #C52A1A;
// $color-status-yellow: #FFBF1F;
// $color-status-green: #22992E;